* {
	box-sizing: border-box;
	margin: 0;
}
body {
	background-color: lightgray;
}
h1 {
	text-align: center;
	font-family: sans-serif;
	margin-bottom: 15px;
	margin-top: 15px;
}
.row {
	width: 100%;
}
.row > div {
	border: black solid 1px;
	text-align: center;
}
#sushi {
	background-color: skyblue;
}
#beef {
	background-color: lightcoral;
}
#chicken {
	background-color: lime;
}
#sushi, #chicken, #beef {
	margin: 0;
	float: right;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-left: black solid 1px;
	border-bottom: black solid 1px;
}
.text {
	clear: right;
	padding: 20px;
}
div.row > div {
margin-bottom: 20px;
margin-left: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12 {
	float: left;
	}
	.col-md-6 {
		width: calc(50% - 30px);
	}
	.col-md-12 {
		width: calc(100% - 40px);
	}
}
@media (min-width: 992px) {
	.col-lg-4 {
    	float: left;
    	width: calc(33.33% - 26.67px);
	}
}
@media (max-width: 767px) {
	.col-sm-12 {
    	float: left;
    	width: calc(100% - 40px);
	}
}

